<div (click)="onClick($event)"
  class="clickbox">
  <div class="row">
    <h2 class="col-md-8 title">
      {{dugnad.title}}
    </h2>
    <div class="active-dugnad dugnad-status .col-md-4"
      *ngIf="dugnad.status" >
      Åpen for påmelding
    </div>
    <div class="locked-dugnad dugnad-status .col-md-4"
      *ngIf="!dugnad.status">
      Påmelding er stengt
    </div>
  </div>
  <div>
    Starter: {{ startTime.hour }}:{{ startTime.min }} - {{ startTime.day }}.{{ startTime.month }}.{{ startTime.year }}
  </div>
  <div>
    Ferdig: {{ endTime.hour }}:{{ endTime.min }} - {{ endTime.day }}.{{ endTime.month }}.{{ endTime.year }}
  </div>
  <div>
    Lokasjon: {{ dugnad.location }}
  </div>
  <div>
    Beskrivelse: {{ dugnad.description }}
  </div>
</div>
