.dialog-overlay {
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  weight: 100%;
  background-color: rgba(255, 200, 50, 0.7);
  z-index: 10000;
}

.dialog-window {
  z-index: 10001;
  position:fixed;
  border: 1px solid gray;
  border-radius: 5px;
  padding-right: 15px;
  left: 50%;
  top: 6%;
  width: 50em;
  max-height: 88%;
  overflow-x: hidden;
  overflow-y: auto;
  transform: translate(-50%, 0);
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 5px 2px rgb(125, 100, 25);
}

.dialog-window > * {
  overflow-x: hidden;
}

#fix{
	width: 162px;
	height: 40px;
	
	margin-top: 20px;
}
