<div>
  <div class="container">
 <div class="row">
	<div class="col-md-6">
			<div class="panel panel-primary" id="block1">
            <div class="panel-heading">

            </div>
            <div class="panel-body" >
				<ul>
					<li class="list-group-item">
						<h4>Orgnr: {{org.orgNumber}}</h4>
						<h4>Email: {{org.email}}</h4>
						<h4>Telefon: {{org.phone}} </h4>
					</li>
				</ul>
			</div>
        </div>
    </div>
	<div class="col-md-6">
		<div class="panel panel-primary"  id="block2">
            <div class="panel-heading">

            </div>
            <div class="panel-body">
				<ul>
					<li class="list-group-item">
						  <p>{{org.description}} </p>

						<img id="imgDesc" src="../../assets/img/placeholder_profile_pic.png"/>
					</li>

				</ul>
			</div>
        </div>
    </div>
    </div>
  </div>
</div>
