

<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="container">
	<div class="row row-centered">
		<div class="col-md-3"></div>
		<div class="col-md-6 kolonne">
			<div id="tittelContainer">
				<h1 id="tittel">Min profil</h1>
			</div>
			<div class="panel panel-primary">
				<div class="panel-body" id="block1">
					<h4>Fornavn: {{firstName}}</h4>
					<hr>
					<h4>Etternavn: {{lastName}}</h4>
					<hr>
					<h4>Email: {{email}}</h4>
					<form (ngSubmit)="onSubmit($event)">
						<button class="btn btn-default" type="submit">Logg ut</button>
					</form>
					<div class="col-md-3"></div>
				</div><!-- ROW END -->
			</div>
		</div>
	</div>
</div>
</body>
</html>
