p {
  text-align: center;
}

div {
  padding: 5px;
  margin-left: 2px;
  margin-right: 2px;
  background-color: inherit;
}

img {
  display: block;
  margin: 0 auto;
  height: 100px;
  width: 100px;
  }
