#container{
<<<<<<< HEAD

=======
	
	
>>>>>>> 80a5f041312cc3109616fd9f335a1d69dbb74cc1
}

div {
  padding: 5px;
  margin-left: 2px;
  margin-right: 2px;
  background-color: inherit;
}

img {
  height: 100px;
  width: 100px;
}
