
<div class="container">
	<div class="row row-centered">
		<div class="col-md-3"></div>
		<div class="col-md-6 kolonne">
			<div id="tittelContainer">
				<h1 id="tittel">Organisasjoner</h1>
			</div>
			<div class="panel panel-primary">
			<div id="block2">
			<input type="text" id="searchBox" #searchBox (keyup)="searchFunction(searchBox.value)" placeholder="Søk etter organisasjon..">
				</div>
				<div class="panel-body" id="block1">
					
						
						<ul id="myUL">
						<li *ngFor="let name of (namelist | sortpipe)" (click)="routeToOrg(name)">
						{{ name }}
						</li>
					</ul>
					<div class="col-md-3"></div>
				</div><!-- ROW END -->
			</div>
		</div>
	</div>
</div>