#searchBox
{
	margin-left: 50%;
	transform: translate(-50%, 0%);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#myUL{
	
	
	background-color: blue;
}

li:last-child {
  
}

li  {
  text-decoration: none;
  color: #000;
 font: 200 15px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
  display: block;
 text-align: center;
 
 border-bottom-style: solid;
 border-width: 1px;
 
 border-bottom-color: black;
}

li:hover {
  cursor: pointer;
  font-size: 30px;
  background: #f6f6f6;
}

#block1{

	margin-left: 50%;
   margin-top: 25%;
   transform: translate(-50%, -25%);
   
   position: relative;
}
#block2{
 margin-left: 50%;
margin-top: 50px;
   transform: translate(-50%, 0%);
 
}
.panel-heading {	
	background-color: rgb (194,229,229);
	
}
.panel{
	border-style: none;
	height: 100vw;
}
#tittelContainer{
	border-radius: 3px;
	width:99%;
	height:10vw;
	position: relative;
	background-color: rgb(194,229,229);
}
#tittel{
	text-align: center;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	margin: 0;
    position: absolute;
	font-size: 3vw;
	border-radius: 100px;
	border-color: rgb(26,61,61);	
}
		
#tittel + .row{
	width: 100%;	
}

.row{
background-color:rgb(242, 241, 239);

border-radius: 3px;

}


.kolonne{
	margin-top: 4%;	

	}
	
.container{
	
	width:80%;	
	
}