.panel-heading {	
	background-color: rgb (194,229,229);
	
}
#tittel{
	text-align: center;
	background-color: rgb(194,229,229);
	height: 85px;
	font-size: 70px;
	margin-top: 50px;	
	border-radius: 3px;
	border-color: rgb(26,61,61);	
}
		
#tittel + .row{
	width: 100%;
	
}

.row{
background-color:rgb(242, 241, 239);
margin-left: 0.1%;
border-radius: 3px;

}
.panel{
	
	border-style: none;
	
	
	
}

.kolonne{
	margin-top: 4%;	

	}