
<div class="container activity-box">

  <div class="row">
    <h2 class="col-md-8">
      {{activity.title}} <span class="activity-type">(Salgsaktivitet)</span>
    </h2>
    <div class="col-md-4" style=" color: green;">
      Åpen for påmelding
    </div>
  </div>
 <ng-container *ngIf="attendants">
      <div class="mAplied" *ngIf="isUserApplied === false" style=" color: red;" >
       Status: Ikke påmeldt

      </div>
      <div class="mAplied" *ngIf="isUserApplied === true" style=" color: green;">
        Status: Påmeldt
      </div>
    </ng-container>


  <div>
    Starter: {{ startTime.hour }}:{{ startTime.min }} - {{ startTime.day }}.{{ startTime.month }}.{{ startTime.year }}
  </div>
  <div>
    Ferdig: {{ endTime.hour }}:{{ endTime.min }} - {{ endTime.day }}.{{ endTime.month }}.{{ endTime.year }}
  </div>
  <div>
    Beskrivelse: {{ activity.description }}
  </div>
    <div class="row">
    <ng-container *ngIf="attendants">
      <button class="buttons" *ngIf="isUserApplied === false"
        (click)="applyTo()">
        Bli med
      </button>
      <button class="buttons" *ngIf="isUserApplied === true"
        (click)="unapplyTo()">
        Meld av
      </button>
    </ng-container>
    <dialog-container id="fix" class="buttons" *ngIf="attendants"
      [btnText]="'Påmeldte medlemmer'"
      [component]="attendantsListComponent">
    </dialog-container>
    <dialog-container class="buttons" *ngIf="isUserAdmin"
      [btnText]="'Rediger aktivitet'"
      [component]="editActivityComponent">
    </dialog-container>
    <dialog-container class="buttons" *ngIf="isUserAdmin"
      [btnText]="'Legg til medlemmer'"
      [component]="addMemberToActivityComponent">
    </dialog-container>
    <dialog-container class="buttons" *ngIf="isUserAdmin"
      [btnText]="'Fjern medlemmer'"
      [component]="removeMemberFromActivityComponent">
    </dialog-container>
  </div>
</div>
