<div class="container activity-box">
  <div>
    <ng-container *ngIf="attendants">
      <button *ngIf="isUserApplied === false"
        (click)="applyTo()">
        Bli med
      </button>
      <button *ngIf="isUserApplied === true"
        (click)="unapplyTo()">
        Meld av
      </button>
    </ng-container>
    <dialog-container *ngIf="attendants"
      [btnText]="'Påmelte'"
      [component]="attendantsListComponent">
    </dialog-container>
    <dialog-container *ngIf="isUserAdmin"
      [btnText]="'Rediger aktivitet'"
      [component]="editActivityComponent">
    </dialog-container>
    <dialog-container *ngIf="isUserAdmin"
      [btnText]="'Legg til medlemmer'"
      [component]="addMemberToActivityComponent">
    </dialog-container>
    <dialog-container *ngIf="isUserAdmin"
      [btnText]="'Fjern medlemmer'"
      [component]="removeMemberFromActivityComponent">
    </dialog-container>
  </div>
  <div class="row">
    <h2 class="col-md-8">
      {{activity.title}}
    </h2>
    <div class="col-md-4">
      Åpen for påmelding
    </div>
  </div>
  <div>
    Starter: {{ startTime.hour }}:{{ startTime.min }} - {{ startTime.day }}.{{ startTime.month }}.{{ startTime.year }}
  </div>
  <div>
    Ferdig: {{ endTime.hour }}:{{ endTime.min }} - {{ endTime.day }}.{{ endTime.month }}.{{ endTime.year }}
  </div>
  <div>
    Beskrivelse: {{ activity.description }}
  </div>
</div>
