#orgTitle{
	background-color: rgb(194,229,229);
	border-radius: 3px;
	margin-left: 15px;
	font-size: 4vw;
	
	
}
#joinBtn{
	
	float: right;
	margin-top: 20px;
	margin-right: 13px;
	
	
	
}
.nav-tabs { border-bottom: 2px solid #DDD; }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
    .nav-tabs > li > a { border: none; color: black; }
        .nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: black !important; background: transparent; }
        .nav-tabs > li > a::after { content: ""; background:orange; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
    .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 15px 0; }
.tab-content{padding:20px}
@media only screen and (max-width: 500px) {
   #orgTitle{
	
	font-size: medium;
	
	
}
div ul li{
	
	
	padding: none;
	width: 100%;
}
div ul {
	margin-top: 20px;
	background-color: rgb(194,229,229);

}
}
