#orgTitle{
	background-color: rgb(194,229,229);
	border-radius: 3px;
	margin-left: 15px;
	font-size: 4vw;
	
	
}

#nav{
	
	display: inline;
	
	margin-top: 30px;
}
#joinBtn{
	background-color: rgb(194,229,229);
	float: right;
	margin-top: 20px;
	margin-right: 13px;
	
	
	
}

.row{
	background-color: rgb(194,229,229);
}
ul li a {
	
	color: black;
	
}


@media only screen and (max-width: 500px) {
   #orgTitle{
	
	font-size: medium;
	
	
}
div ul li{
	
	
	padding: none;
	width: 100%;
}
div ul {
	margin-top: 20px;
	background-color: rgb(194,229,229);

}
}
edit-org{
	width:100%;
	
}

