<div class="container">
  <div class="row"></div> <!--  org header img-->
  <div class="row">

    <h1 id="orgTitle" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      {{ org?.orgName }}
    </h1>
	<div id="joinBtn" >
    <membership-btn

      *ngIf="org"
      [uuid]="org.uuid">
    </membership-btn>

	</div>
  </div>
  <div id="nav">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Dugnader</a></li>
      <li role="presentation"><a href="#info" aria-controls="info" role="tab" data-toggle="tab">Om klubben</a></li>
      <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Oppslagstavlen</a></li>
      <li role="presentation"><a href="#members" aria-controls="members" role="tab" data-toggle="tab">Medlemmer</a></li>
      <li *ngIf="isAdmin" role="presentation"><a href="#admin" aria-controls="admin" role="tab" data-toggle="tab">Admin Panel</a></li>
      <li *ngIf="isAdmin" role="presentation"><a href="#stats" aria-controls="stats" role="tab" data-toggle="tab">Statistikk</a></li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="home">
        <app-dugnad-list>
        </app-dugnad-list>
      </div>
      <div role="tabpanel" class="tab-pane" id="info">
        <org-info *ngIf="org" [org]="org"></org-info>
      </div>
      <div role="tabpanel" class="tab-pane" id="messages">
        <org-message-board *ngIf="org"
          [uuid]="org.uuid"
          [type]="'org'">
        </org-message-board>
      </div>
      <div role="tabpanel" class="tab-pane" id="members">
        <members-list *ngIf="admins" [users]="admins" [title]="'Administratorer'"></members-list>
        <members-list *ngIf="members" [users]="members" [title]="'Medlemmer'"></members-list>
      </div>
      <div role="tabpanel" class="tab-pane" id="admin">
        <org-admin-panel
          *ngIf="org"
          [org]="org"
          (memberAdded)="memberAdded($event)">
        </org-admin-panel>
      </div>
      <div role="tabpanel" class="tab-pane" id="stats">
        <org-stats>
        </org-stats>
      </div>
    </div>
  </div>
</div>
