@media screen {
  #printpage, #printpage * {
    display:none;
	
  }
  .printBtn{
	  margin-left: 565%;	
	  margin-top: 29%;
	  width: 160px;
	  height: 40px;
	  color: #fff;
      background-color: #5bc0de;
      border-color: #46b8da;
	  
	  
  }
  .margin{
	
	
	margin-left: 20px;
	
}
}
@media screen and (max-width: 480px) {
   .printBtn{
       margin-left: 60%;	
	  margin-top: 29%;
	  width: 160px;
	  height: 40px;
	  color: #fff;
      background-color: #5bc0de;
      border-color: #46b8da;
    }
}
@media print {
  body *{
    visibility:hidden;
    background: transparent;
    -webkit-print-color-adjust: exact !important;
  }

  #printpage, #printpage *{
    visibility:visible;
    -webkit-print-color-adjust: exact !important;
    box-shadow: inset 0 0 0 1000px gold;
  }

  #printpage{
    position:absolute;
    left:0;
    top:0;
    font-size: 16px;
  }
  table, th, td {
    border: 1px solid black;
  }
}
