<button (click)="printDiv()"
        class="btn btn-sm btn-primary printBtn">Print Deltagerliste<span class="glyphicon glyphicon-print margin"></span></button>
<div id="printpage">
  <h1 *ngIf="dug">Dugnad: {{dug.title}}</h1>
    <ul *ngFor="let act of activities">
      <h2>Aktivitet: {{act.title}}</h2>
      <h2>Oppmøte: {{act.startTime | date:'d/M/y H:mm'}}</h2>
      <h3>Påmeldte</h3>
      <ng-container >
        <table>
          <tr>
            <th>Fornavn</th>
            <th>Etternavn</th>
            <th>Mail</th>
            <th>Møtt opp</th>
          </tr>
          <tr *ngFor="let item of act.attends">
            <td>{{item.firstName}}</td>
            <td>{{item.lastName}}</td>
            <td>{{item.email}}</td>
            <td></td>
          </tr>
        </table>
       <!-- <li>{{item.firstName}} {{item.lastName}}</li> -->
      </ng-container>
    </ul>

</div>
