<div id="container">
	<div class="row row-centered">
		<div class="col-md-3">
				
		</div>
		<div class="col-md-6 kolonne">
			<div id="tittelContainer">
				<h1 id="tittel">Opprett dugnad</h1>
			</div>
			<div class="panel panel-primary">
				<div class="panel-body" id="block1">
					<form (ngSubmit)="onSubmit($event)">
						<div class="form-group">
							<label>Dugnadsnavn: </label>
							<input name="dugNavn" type="text" placeholder="Dugnadsnavn" class="form-control" id="Navn" required [(ngModel)]="Navn">
							<small id="navnHelp" class="form-text text-muted">Dette er navnet deltagerene vil se</small>
						</div>
						<div class="form-group">
							<label>Beskrivelse:</label>
							<textarea name="dugBeskrivelse" class="form-control" id="beskrivelse" rows="3" required [(ngModel)]="beskrivelse"></textarea>
							<small id="beskrivelseHelp" class="form-text text-muted">Beskriv dugnaden for deltagerene</small>				
						</div>
						<div class="form-group">
							<label>Motested: </label>
							<input name="dugSted" type="text" class="form-control" id="motested" required [(ngModel)]="motested">
							<small id="motestedHelp" class="form-text text-muted">Angi motested/område for dugnaden</small>
						</div>
						<div class="form-group">
							<label>Startdato: </label>
							<input name="dugStartDato" type="date" class="form-control" id="startDato" required [(ngModel)]="startDato">
							<small id="startDatoHelp" class="form-text text-muted">Angi startdato for dugnaden</small>
						</div>
						<div class="form-group">
							<label>Møtetid: </label>
							<input name="dugStartTid" type="time" class="form-control" id="starttid" required [(ngModel)]="starttid">
							<small id="startTidHelp" class="form-text text-muted">Angi starttid for dugnaden</small>
						</div>
						<div class="form-group">
							<label>Sluttdato: </label>
							<input name="dugSluttDato" type="date" class="form-control" id="sluttDato" required [(ngModel)]="sluttDato">
							<small id="sluttDatoHelp" class="form-text text-muted">Angi avsluttningsdato for dugnaden</small>
						</div>
						<div class="form-group">
							<label>Avsluttnings tidspunkt: </label>
							<input name="dugSluttTid" type="time" class="form-control" id="sluttTid" required [(ngModel)]="sluttTid">
							<small id="sluttTidHelp" class="form-text text-muted">Angi avsluttnings tidspunkt for dugnaden</small>
						</div>
						<div class="form-group">
							<label>Maks antall deltagere: </label>
							<input name="dugAnt" type="number" class="form-control" id="antall" required [(ngModel)]="antall">
							<small id="antHelp" class="form-text text-muted">Angi maks antall deltagere(0 for ubegrenset)</small>
						</div>
						<button type="submit" class="btn btn-default">Opprett dugnad</button>
					</form>
				</div>
			</div>
		</div>
		<div class="col-md-3">		
		</div>
	</div> <!-- ROW END -->
</div>