<div *ngIf="org" class="container">
	<div class="row">

  	<div class="col-md-12 kolonne" style="margin-top: 1px;">
    	<!--<div id="tittelContainer">
      <h2 id="tittel">Endre organisasjonsinfo</h2>
      </div> -->
   <div class="panel panel-primary">

          <div class="panel-body" id="block1">

    				<form (ngSubmit)="onSubmit($event)">
      	       <div class="form-group">
                 <label>Organisasjonsnummer</label>
                 <input name="orgNumber"
                   type="text"
                   placeholder="xxxxxxxxx"
                   class="form-control" id="orgNumber" required
                   [(ngModel)]="org.orgNumber">
				   <small id="orgNrHelp" class="form-text text-muted">Må være 9 tegn langt</small>
               </div>
               <div class="form-group">
                 <label>Organisasjonsnavn</label>
                 <input name="orgName"
                   type="text"
                   class="form-control" id="orgName" required
                   [(ngModel)]="org.orgName">
               </div>
               <div class="form-group">
                 <label>Epost</label>
                 <input name="email"
                   type="email"
                   class="form-control" id="email" required
                   [(ngModel)]="org.email">
               </div>
               <div class="form-group">
                 <label>Telefon</label>
                 <input name="phone"
                   type="text"
                   class="form-control" id="phone" required
                   [(ngModel)]="org.phone">
               </div>
               <div class="form-group">
              	 <label>Beskrivelse</label>
              	 <input name="description"
                   type="text" placeholder="Skriv litt om organisasjonen..."
              	   class="form-control"
                   id="description"
                   [(ngModel)]="org.description">
               </div>
               <button type="submit"class="btn btn-default">Oppdater</button>
             </form>
           </div>
         </div>
       </div>
  </div>
</div> <!-- ROW END -->
