<div class="container">
  <div class="row activity-box">
    <p>
      Starter: {{ startTime.hour }}:{{ startTime.min }} - {{ startTime.day }}.{{ startTime.month }}.{{ startTime.year }}
    </p>
    <p>
      Ferdig: {{ endTime.hour }}:{{ endTime.min }} - {{ endTime.day }}.{{ endTime.month }}.{{ endTime.year }}
    </p>
    <p>
      Lokasjon: {{dugnad.location}}
    </p>
    <p>
      Partisipants: <!-- TODO implement after implementation of activities -->
    </p>
    <p>
      Beskrivelse: {{dugnad.description}}
    </p>
</div>
