/* You can add global styles to this file, and also import other style files */
body{
	
	background-color:rgb(242, 241, 239);
	
}
#tittelContainer{
	border-radius: 3px;
	width:100%;
	height:10vw;
	position: relative;
	background-color: rgb(194,229,229);
	border-radius: 3px;
	border-radius: 3px;
	width:100%;

	
}
#tittel{
	width: 100%;
}
.panel{
	
	border-style: none;
	height: 100%;
	width:100%;
	
}
#shadowMain{
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 10px 20px -6px black;
		
	
}