<div class="container">
<div class="row">
	<div class="col-md-6">
			<div class="panel panel-primary" id="block1">
            <div class="panel-heading">
              <h3 class="panel-title">Dugnadsoversikt</h3>
            </div>
            <div class="panel-body" >
				<ul>
					<li class="list-group-item">
						<h4 class="list-group-item-heading">Flytte skuret</h4>
						  <p class="list-group-item-text">12.05.20017 15:00-18:30</p>
						  <p class="list-group-item-text">Remmen, ved hovedinngangen</p>
						  <p class="list-group-item-text">det vil bli kaffe og boller underveis</p>
					</li>
					<li class="list-group-item">
						  <h4 class="list-group-item-heading">Klippe gresset</h4>
						  <p class="list-group-item-text">Tid</p>
						  <p class="list-group-item-text">Sted</p>
						  <p class="list-group-item-text">Generell informasjon</p>
					</li>
					<li class="list-group-item">
						  <h4 class="list-group-item-heading">Selge Dopapir</h4>
						  <p class="list-group-item-text">Tid</p>
						  <p class="list-group-item-text">Sted</p>
						  <p class="list-group-item-text">Generell informasjon</p>
					</li>
				</ul>
			</div>
        </div>
    </div>
	<div class="col-md-6">
		<div class="panel panel-primary"  id="block2">
            <div class="panel-heading">
				<h3 class="panel-title">Organisasjoner</h3>
            </div>
            <div class="panel-body">
				<ul>
					<li class="list-group-item">
						<h4 class="list-group-item-heading">Remmen IF</h4>
						<p class="list-group-item-text">Rolle: Medlem</p>
						<p class="list-group-item-text">Kommende dugnader:</p>
						<ul>
							<li>Flytte Skuret</li>
							<ul>
								<li>Status: Påmeldt/ikke påmeldt</li>
								<li>Tid</li>
								<li>Sted</li>
								<li>Gen info</li>
							</ul>
						</ul>	
					</li>
					<li class="list-group-item">
						<h4 class="list-group-item-heading">HaldenHK</h4>
						<p class="list-group-item-text">Rolle: Leder</p>
						<p class="list-group-item-text">Kommende dugnader:</p>
						<ul>
							<li>Teste stiger</li>
							<ul>
								<li>Status: Påmeldt/ikke påmeldt</li>
								<li>Tid</li>
								<li>Sted</li>
								<li>Gen info</li>
							</ul>
						</ul>
					</li>
				</ul>
			</div>
        </div>
    </div>
    </div>
</div>