.panel-header{
	position:fixed;
	left:0;
	margin-top: 0;
	fixed: top;
}
.panel-primary{
	height:400px;
	overflow: auto;
	margin-right: 1%;
}
::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}
.panel-body{
	overflow: auto;
}