<div class="container">
<div class="row">
	<div class="col-md-2">
	</div>
	<div class="col-md-8">
			<div class="panel panel-primary" id="block1">
            <div class="panel-heading">
              <h2 class="panel-title">Dugnadsoversikt</h2>
            </div>
        <div class="panel-body" >
          <ul>
            <ul class="list-group-item-heading">
              <ng-container *ngIf="memberships" >
                <app-org-box *ngFor="let member of memberships" [uuid]="member.uuid">


                </app-org-box>
              </ng-container>
              <!--
              <h3 class="list-group-item-heading" (click)="routeToOrg(org.uuid)">


                <span class="glyphicon glyphicon-link"></span>

                {{org.orgName}}

              </h3>
                <li class="list-group-item">
                <hr>
                  <ul>
                  <p class="list-group-item-text">Ferdige dugnader:</p>
                    <li class="list-group-item" *ngFor="let dug of dugnader">
                      <ng-container *ngIf="org.uuid == dug.orgUuid && !dug.status">
                        <h4 class="list-group-item-heading">{{dug.title}}</h4>
                        <p class="list-group-item-text">{{dug.startTime | date:'d/M/y H:mm' }}</p>
                        <p class="list-group-item-text">{{dug.endTime | date:'d/M/y H:mm'}}</p>
                        <p class="list-group-item-text">{{dug.location}}</p>
                        <p class="list-group-item-text">{{dug.description}}</p>
                      </ng-container>
                    </li>
                <hr>
                  </ul>
                  <ul>
                    <p class="list-group-item-text">Kommende dugnader:</p>
                    <li class="list-group-item" *ngFor="let dug of dugnader">
                      <ng-container *ngIf="org.uuid == dug.orgUuid && dug.status">
                        <h4 class="list-group-item-heading">{{dug.title}}</h4>
                        <p class="list-group-item-text">{{dug.startTime | date:'d/M/y H:mm' }}</p>
                        <p class="list-group-item-text">{{dug.endTime | date:'d/M/y H:mm'}}</p>
                        <p class="list-group-item-text">{{dug.location}}</p>
                        <p class="list-group-item-text">{{dug.description}}</p>
                      </ng-container>
                    </li>
                  </ul>
                </li>-->

            </ul>
				  </ul>

			  </div>
      </div>
    </div>
	<div class="col-md-2">
	</div>
</div>
</div>
