
<div class="container">


	<div class="row row-centered">
	<div class="col-md-3">

    </div>
	<div class="col-md-6 kolonne">
		<div id="shadowMain">
	<div id="tittelContainer">
  <h1 id="tittel">Kontakt oss</h1>
 </div>
			<div class="panel panel-primary">

            <div class="panel-body" id="block1">

			<p>Telefon nr: 99955111</p>
			<p>Adresse: Adresse 12, Adresse sted</p>
			<p>Kan kontaktes mellom 08:00-16:00 </p>
	
											
  
			</div>
        </div>
    </div>

    </div>
		<div class="col-md-3">

    </div>
	 </div> <!-- ROW END -->
    </div>
	
