

    <nav id="myNavbar" class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <li>
	                <a class="navbar-brand" (click)="takeMeHome(event)">
										<img src="../../assets/img/logo.jpg" width="60" height="30" alt="">
									</a>
								</li>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                		<li *ngFor="let elem of navBarElements"><a (click)="routerHelper(elem)">{{elem}}</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Min profil <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li *ngFor="let item of dropdownElements"><a (click)="routerHelper(item)">{{item}}</a></li>  
														<li class="divider"></li>							
                            <li>
                            	<a #logBtn [text]="atagsrc" id="logoutBTN" class="btn btn-default" (click)="loginOrOut(event)"></a>
														</li>                                              
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>