nav{
	background-color: rgb(26,61,61);
	z-index: 10000;
	text-align: center;
}


li a{
	color: white;
}
li :hover{
	cursor: pointer;		
}

.dropdown-menu a{
	color: black;
	text-align: center;
}
#navbar-name{
	
	margin-left: -75px;
	margin-top: 7px;
}
#usr{
	margin-top: 8px;
	width: 80%;
}
#navRight{
	margin-top:8px;
}
#navLeft{
	
	margin-top: 8px;
	
}
#myNavbar{
  position:fixed;
	top: 0px;
	width:100%;
}
#logoutBTN{
	
	text-align:center;
	
	
}
#dropwDown{
	
	margin-top: 10px;
	
}
#white a{
	
	

}
.dropdown-dw li{
	
	color:white;
	
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color:rgb(242, 241, 239);
    color: black;
}