nav{
	
	background-color: rgb(26,61,61);
	 z-index: 10000;
	
	
	text-align: center;
}


li a{
	
	
	color: white;
}
.dropdown-menu a{
	
	color: black;
	
}


#myNavbar{
	
    position:fixed;
	top: 0px;
	width:100%;
}