nav{
	background-color: rgb(26,61,61);
	z-index: 10000;
	text-align: center;
}


li a{
	color: white;
}
li :hover{
	cursor: pointer;		
}
.dropdown-menu a{
	color: black;
	text-align: center;
}


#myNavbar{
  position:fixed;
	top: 0px;
	width:100%;
}
#logoutBTN{
	
	text-align:center;
	
	
}
#white{
	
	
	color:white;
}
#white a{
	
	
	color: white;
}
.dropdown-dw li{
	
	color:white;
	
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color:rgb(242, 241, 239);
    color: black;
}