

    <nav id="myNavbar" class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" (click)="takeMeHome(event)">
									<img src="../../assets/img/Wlogo.png" width="60" height="30" alt="">
								</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul id="navRight"class="nav navbar-nav">
                		<li *ngFor="let elem of navBarElements"><a (click)="routerHelper(elem)">{{elem}}</a></li>
					
                </ul>
                <ul id="navLeft" class="nav navbar-nav navbar-right">
					<li>
							<div class="form-group">
							<input type="text" class="form-control" id="usr">
						</div>
						</li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Min profil <b class="caret"></b></a>
                        <ul id="dropwDown"class="dropdown-menu dropdown-dw">
                            <li id="white" *ngFor="let item of dropdownElements"><a (click)="routerHelper(item)">{{item}}</a></li>  
														<li class="divider"></li>							
                            <li>
                            	<a #logBtn [text]="atagsrc" id="logoutBTN" class="btn btn-default" (click)="loginOrOut(event)"></a>
														</li>                                              
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>